body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            background-color: #0051ff; 
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
        }

       
        .form-container {
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
            max-width: 600px;
            width: 100%;
            box-sizing: border-box;
            padding: 2.5em 3em;
        }


        h2 {
            text-align: center;
            color: #333; 
            margin-top: 0;
            margin-bottom: 1.5em;
            font-size: 1.8em;
            font-weight: 600;
        }

       
        .form-group {
            margin-bottom: 1.5em;
        }

        
        label {
            display: block;
            margin-bottom: 0.5em;
            color: #555;
            font-weight: 600;
        }

        
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 100%;
            padding: 0.8em 1em;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-sizing: border-box; 
            font-size: 1em;
            color: #333;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
        }

        
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type= "tel"]:focus,
        select:focus,
        textarea:focus {
            border-color: #FF8C00; 
            box-shadow: 0 0 8px rgba(255, 140, 0, 0.25); 
            outline: none; 
        }

        
        textarea {
            resize: vertical; 
            min-height: 100px;
        }

       
        .submit-button {
            width: 100%;
            padding: 0.9em;
            border: none;
            border-radius: 6px;
            background-color: #06437c; 
            color: white;
            font-size: 1.1em;
            font-weight: 700;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.1s ease;
        }

        .submit-button:hover {
            background-color: #0065fd; /* Tom mais escuro do laranja para o hover */
        }
        
        .submit-button:active {
            transform: scale(0.99); 
        }